[Unit]
Description=Firecracker network for %i
Requires=firecracker-host-network.service
After=firecracker-host-network.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/firecracker-vm-network %i start
ExecStop=/usr/local/sbin/firecracker-vm-network %i stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
